/* for fixing size of youtube vids */
.entry-summary-video iframe{
	max-height: 250px;
}
.main.container{
	padding-top:15px;
	min-height:100%;
	height:auto;
}
.form-control {
	background: none !important;
	border: 0 solid black;
}
#main_nav_items .credits {
	display: inline-block;	
}